/*  style.css  */


/*Å@ñ{ï∂ÉeÉLÉXÉgÅ@*/

.text {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 12px;
	color: #000000;
	line-height: 1.4;
	padding-left: 3px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 6px;
	}
.text_w {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 1.5;
	}
.text10 {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 10px;
	color: #000000;
	padding-top: 0px;
	}
.column_text {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 12px;
	color: #000000;
	line-height: 1.4;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	}
.column_text10 {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 10px;
	color: #000000;
	line-height: 1.4;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	}
.text_taiken {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 12px;
	color: #000000;
	line-height: 1.4;
	padding-left: 55px;
	padding-top: 7px;
	padding-right: 3px;
	padding-bottom: 15px;
	}
.caption1 {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 10px;
	color: #993300;
	line-height: 1.3;
	}
.caption2 {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 10px;
	color: #FFFFFF;
	line-height: 1.3;
	padding-left: 5px;
	padding-top: 2px;
	padding-right: 74px;
	}
.caption_omake1 {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 10px;
	color: #990066;
	line-height: 1.3;
	padding-top: 8px;
	}
.caption_omake2 {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 10px;
	color: #006699;
	line-height: 1.3;
	padding-top: 8px;
	}
.text_bold {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 1.4;
	font-weight: bold;
	}
.caption1_bold {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 10px;
	color: #FFFF00;
	line-height: 1.3;
	}
.caption2_bold {
	font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
	font-size: 10px;
	color: #006699;
	line-height: 1.3;
	}

/*  ÉäÉìÉNÉeÉLÉXÉg  */

#navilink {
	font-size: 10px;
	color: #990066;
	}
#navilink a {
	color: #000000;
	text-decoration: none;
	}
#navilink a:hover {
	color: #000000;
	text-decoration: underline;
	}
.loc_self {
	font-size: 10px;
	color: #FFFFFF;
	}


#navilink2 {
	font-size: 10px;
	color: #FF9900;
	}
#navilink2 a {
	color: #000000;
	text-decoration: none;
	}
#navilink2 a:hover {
	color: #000000;
	text-decoration: underline;
	}
.loc_self2 {
	font-size: 10px;
	color: #009999;
	}


#navilink3 {
font-family: "ÇlÇr ÉSÉVÉbÉN", Osaka;
font-size: 10px;
	color: #FF9900;
	}
#navilink3 a {
	color: #FFFFFF;
	text-decoration: none;
	}
#navilink3 a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}
.loc_self3 {
	font-size: 10px;
	color: #FFFF00;
	}


#topicslink {
	font-size: 12px;
	color: #FF6600;
	line-height: 1.5;
	}
#topicslink a {
	color: #000000;
	text-decoration: underline;
	}
#topicslink a:hover {
	color: #FF0000;
	text-decoration: underline;
	}
.loc_self {
	font-size: 10px;
	color: #FFFFFF;
	}
